*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lora', serif ;
    word-wrap: break-word;
    overflow-wrap: break-word;
}
body{
    /* border: 2px solid black; */
    height: 150vh; 
    /* background-image: url(./gray.jpg); */
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
.container{
    height: 100%;
    max-width: 90%;
    word-wrap: break-word;
    min-width:50%;
    margin:auto;
    background-image: linear-gradient(rgba(101, 253, 95, 0.685), rgba(138, 138, 253, 0.753)),url(./help.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    overflow-wrap:anywhere ;
    display: grid;
    grid-template-rows: 10vh 140vh;
}

.navbar{
    /* grid-area: navbar; */
    background-color: rgba(0,0,0,0  );
    /* position: absolute; */
    /* top: 3%; */
    color: black;
    z-index: 900;
    /* border: 2px solid black; */
    /* width: 89.7%; */
    /* height: 7vh; */
   
   
}
.navbar ul {
   list-style: none;
   display: grid;
   grid-template-areas: 'logo logo logo logo menu';
   word-wrap: break-word;
}
.navbar ul li a{
    text-decoration: none;
    color: black;
}
.navitems{
    margin-left:3vw;
    margin-top: 1vh;
    word-wrap: break-word;
}
#navitem1{
    grid-area:logo;
}
#navitem2{
    grid-area: menu;
    position: fixed;
    left: 75vw;
}
.information{
    margin-top: 10vh;
    width: 100%;
    /* border: 2px solid green; */
    /* grid-area: info; */
}
